$font-logo: Shrikhand;
$font-text: Roboto;
$width-page: 374px;
$color-primary: #9356DC;
$color-secondary: #ff79DA;
$color-tertiary: #99E2D0;
$soft-grey: #f6f6f6; 
$hard-grey: #eaeaea;
$font-grey: #353535;
$shadow-grey: #bbbbbb80;