$font-logo: Shrikhand;
$font-text: Roboto;
$color-primary: #9356DC;
$color-secondary: #ff79DA;
$color-tertiary: #99E2D0;
$background-soft-grey: #f6f6f6; 
$background-dark-grey: #eaeaea;
$dark-grey: #353535;
$icon-grey: #7e7e7e;
$shadow-grey: #bbbbbb80;
$shadow-site: 2px 2px 10px 2px $shadow-grey;