.homepage-header {
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 0px 5px 2px 0px $shadow-grey;
}

.section1 {
    display: flex;
    flex-direction: column;
}

.city-block {
    display: flex;
    justify-content: center;
    background-color: $background-dark-grey;
    height: 50px;
    color: $dark-grey;
}

.fas.fa-map-marker-alt {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 0px 20px 2px 0px;
}

.city {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    margin-right: 30px;
}

.reserved {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 286px;
    background-color: $background-soft-grey;
    padding: 0px 20px 0px 20px;
}

h1 {
    margin: 0px;
    font-size: 24px;
}

h2 {
    font-size: 18px;
    font-weight: 200;
    color: $dark-grey;
}

.section2 {
    display: flex;
    flex-direction: column;
    padding: 30px 25px 50px 20px;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
}

.filters {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    height: 75px;
    background-color: $background-soft-grey;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: $shadow-site;

    &:hover {
        background-color: #f5edff;
        
        & .fas.fa-mobile-alt, .fas.fa-bars, .fas.fa-store {
            color: $color-primary;
        }
    }
}

.filter-nbr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: white;
    font-size: 12px;
    background-color: $color-primary;
    border-radius: 50px;
    margin-left: -12px;
}

.fas.fa-mobile-alt, .fas.fa-bars, .fas.fa-store {
    color: $icon-grey;
    font-size: 20px;
    margin: 0px 28px 0px 22px;
}

.filter-text {
    font-weight: 500;
}

.section3 {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 50px 20px;
    background-color: $background-soft-grey;
}

.cards-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 80%;
    background-color: white;
    border-radius: 25px;  
    margin-bottom: 20px;
    box-shadow: $shadow-site;
    position: relative;
}

.new {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    width: 100px;
    height: 40px;
    font-size: 18px;
    background-color: $color-tertiary;
    color: darken($color: $color-tertiary, $amount: 40);
    border-radius: 5px;
    right: 5%;
    top: 5%;
}

.cards-photos {
    width: 100%;
    height: 175px;
    object-fit: cover;
    position: relative;
    border-radius: 25px 25px 0px 0px;  
}

.cards-descriptions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.cards-text {
    width: 200px;
    margin: 10px 0px 16px 14px;
}

.cards-title {
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    padding-bottom: 5px;
}

.cards-location {
    font-size: 18px;
    font-weight: 200;
    margin: 0px;
}

.cards-heart, .cards-heart-purple {
    font-size: 30px;
    padding-right: 30px;
}

.heart {
    width: 40px;
    height: 40px;
    fill: purple;
}

.fas.fa-utensils, .fas.fa-hands-helping {
    padding-right: 10px;
}

.cards-heart-purple {
    color: $color-primary;
    cursor: pointer;
}

.card-link {
    text-decoration: none;
    color: black;
}

.contact-link {
    text-decoration: none;
    color: white;
}


@media screen and (max-width: 375px) {
    
    .filter1, .filter2, .filter3 {
        width: 100%;
    }
}