footer {
    background-color: $dark-grey;
    padding: 25px 25px 15px 25px;
    color: white;
}

.footer-title {
    font-family: $font-logo;
    font-size: 20px;
    margin-top: 0px;
}

.footer-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-text, .fas.fa-utensils, .fas.fa-hands-helping {
    margin: 0px 0px 10px 0px;
    font-size: 14px;
}

.footer-padding-top-contact {
    padding-top: 8px;
}

.fas.fa-utensils, .fas.fa-hands-helping {
    padding-right: 10px;
}

.link {
    text-decoration: none;
    color: white;
}