body {
    animation: overflow-body 4s;

    @keyframes overflow-body {
        0% {
            overflow: hidden;
        }
        100% {
            overflow: auto;
        }
    }
}

.section-loading-spinner {
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: $color-tertiary;
    animation: loading 4s;

    @keyframes loading {
        0% {
            overflow: hidden;
        }
        100% {
            overflow: auto;
        }
    }
}

.spinner {
    display: flex;
    align-self: center;
}

.spinner::before, .spinner::after {
    content: "";
    border: 3px solid $color-primary;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
}

.spinner::before {
    transform: scale(1,1);
    opacity: 1;
    animation: smallcercle 0.5s infinite linear;
}

.spinner::after {
    transform: scale(0,0);
    opacity: 0;
    animation: largecercle 0.5s infinite linear;
}

@keyframes largecercle {
	from { transform: scale(0.5,0.5); opacity: 0; }
	to { transform: scale(1,1); opacity: 1; }
}

@keyframes smallcercle {
	from { transform: scale(1,1); opacity: 1; }
	to { transform: scale(1.5,1.5); opacity: 0; }
}
