.food-content {
    position: relative;
    animation-name: slow-shift;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-duration: 1500ms;
    animation-fill-mode: backwards;

    @keyframes slow-shift {
        0% { 
            transform: translateY(30px);
            opacity: 0; 
        }

        100% { 
            transform: translateY(0px); 
            opacity: 1;
        }
    }
}

.delay1 {
    animation-delay: 100ms;
}

.delay2 {
    animation-delay: 300ms;
}

.delay3 {
    animation-delay: 500ms;
}

.delay4 {
    animation-delay: 700ms;
}

